@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%;
    background-color: #f4f4f4;
    background-image: url("/grupo10/imagens/teladefundo.jpg");
    background-size: cover; 
    background-position: center; 
}

.navbar {
    background-color: #3498db;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

.nav__links {
    list-style: none;
    display: flex;
    justify-content: center;
    flex: 1;
}

.nav__links li {
    margin: 0 20px;
}

.nav__links li a {
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
}

.nav__links li a:hover {
    color: #000000;
}

.sair-btn {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.sair-btn:hover {
    color: #ff6666;
}

.container {
    margin-top: 80px;
    padding: 20px;
    border-radius: 15px; 
    background-color: rgba(255, 255, 255, 0.8);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #3498db;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
}

table th, table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
}

table th {
    background-color: #3498db;
    color: white;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}

table td {
    color: #333;
}

table tr:first-child th {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

table tr:last-child td {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.imprimir-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #27ae60;
    color: white;
    padding: 15px 30px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.imprimir-btn:hover {
    background-color: #2ecc71;
}

.imprimir-btn .material-icons {
    margin-right: 10px;
}
